#NodeSymbol {
  float: left;
  height: 51px;
  width: 51px;

  svg{
    width: 51px;
    height: 51px;
  }
}

input#PathInput {
  position: relative;
  left: 10px;
  height: 45px;
  display: block;
  float: left;
  font-size: 20px;
}

// #DropArea {
//   width: '960px';
//   height: '540px';
// }

svg p.ValueInput {
  width: 120px;
  background-color: beige;
}

// svg g path.link {
//   cursor: crosshair;
// }

span.predicate  {
  // background-color: red;
  // margin-left: 40px;
  // unicode-bidi: bidi-override;
  // direction: rtl;
  // width: 120px;
}

// #ForceGraph {
//   width: ~"calc(var(--windowWidth) - 16px)";
//   height: ~"calc(var(--windowHeight) - 70px)";
// }
