div#NodeInteract {
  transition: bottom 300ms cubic-bezier(0.19, 1, 0.22, 1);
  position: fixed;
  bottom: -51px;
  width: 100%;

  div.center {
    margin-left: auto;
    margin-right: auto;
    height: 51px;
    width: 276px;

    #NodeSymbol {
      float: left;
      height: 51px;
      width: 51px;

      svg{
        width: 51px;
        height: 51px;
      }
    }

    input#PathInput {
      position: relative;
      left: 10px;
      height: 45px;
      display: block;
      float: left;
      font-size: 20px;
    }
  }
}

div#NodeInteract.show {
  transition: bottom 300ms cubic-bezier(0.19, 1, 0.22, 1);
  bottom: 51px;
}

div#LinkInteract {
  transition: bottom 300ms cubic-bezier(0.19, 1, 0.22, 1);
  position: fixed;
  bottom: -51px;
  width: 100%;
  font-family: san-serif;

  div.center {
    margin-left: auto;
    margin-right: auto;
    height: 51px;
    width: 300px;
    
    input {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 180px;
      height: 45px;
      font-size: 20px;
    }
  }
}

div#LinkInteract.show {
  transition: bottom 300ms cubic-bezier(0.19, 1, 0.22, 1);
  position: fixed;
  bottom: ~"calc(var(--windowHeight) * 0.5)";
  
}

div#Interaction {
  position: absolute;
  
  #pathInput {
    width: 136px;
  }

  #valueInput {
    position: absolute;
    top: 30px;
    left: 0px;
  }
}

body {
  overflow: hidden;
}

svg g.links {
  path.path {
    stroke: white;
    stroke-width: 9px;
    stroke-dasharray: none;
    fill: none;
  }

  path.path.simple {
    stroke: rgb(72, 72, 72);
    stroke-width: 0.5px;
    stroke-dasharray: none;
    fill: none;
  }

  text {
    pointer-events: none;
    fill: black;
    font-family: monospace;
  }
}

div.cacheLoader {
  button {
    position: relative;
    float: right;
    height: 25px;
    width: 100px;
    right: 8px;
    top: 3px;
    margin-left: 10px
  }
}

div.cacheLoader.show{
  position: fixed;
  top: 15;
  left: 7.5;
}

svg g.nodes {
  g.nodeAnchor {
    circle {
      stroke: white;
      fill: whitesmoke;
      stroke-width: 10px;
    }
    .nodeLabel {
      pointer-events: none;
      font-family: monospace;
      font-size: 24px;
    }
  }
  
  g.keyList {
    .list-element text.list-key {
      // pointer-events: none;
      cursor: default;
      font-family: monospace;
      font-weight: 200;
      font-size: 16px;
      fill: #444444;
    }

    .keyInputBox input {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom-width: 1;
      border-color: #eaeaea;
      font-family: monospace;
      font-size: 16px;
      font-weight: 200;
      color: #909090;
    }

    .keyInputBox input:focus {
      outline: none;
    }

    .valueInputBox textarea {
      border-width: 1;
      border-color: #eaeaea;
      resize: none;
      overflow: hidden;
      font-size: 12px;
      font-family: sans-serif;
      font-weight: 100;
      color: #404040;
    }

    .valueInputBox textarea:focus {
      outline: none;
    }
  }
}

svg g.Value {
  width: 100px;
  .valueLabel {
    font-size: 16;
    font-family: monospace;
    font-weight: 200;
  }
  .value {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 100;
    fill: #404040;
  }
  .valueAnchorBackground {
    fill: white;
  }
}

svg#preRender {
  position: relative;
  top: 36px;
  white-space: pre;
}

svg#preRender.value {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 100;
}

svg#preRender.valueLabel {
  font-size: 16px;
  font-family: monospace;
  font-weight: 200;
}
